<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- servlet definitions (alphabetical by complete class name) -->
    <filter>
        <filter-name>Login_Filter</filter-name>
        <filter-class>org.karsha.controler.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Login_Filter</filter-name>
        <url-pattern>/getdocuments</url-pattern>
        <url-pattern>/uploaddocuments</url-pattern>
        <url-pattern>/markwithfibo</url-pattern>
        <url-pattern>/getcollection</url-pattern>
        <url-pattern>/savedata</url-pattern>
        <url-pattern>/selectphrases</url-pattern>
        <url-pattern>/newuser</url-pattern>
        <url-pattern>/deletemarkedupdata</url-pattern>
        <url-pattern>/createcollection</url-pattern>
        <!--        <url-pattern>/index.jsp</url-pattern>-->
    </filter-mapping>
    <servlet>
        <servlet-name>ControlerServelet</servlet-name>
        <servlet-class>org.karsha.controler.ControlerServelet</servlet-class>
        <!--        <load-on-startup>1</load-on-startup>-->
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>org.karsha.controler.UserLoginServlet</servlet-class>
        <!--        <load-on-startup>1</load-on-startup>-->
    </servlet>
    <servlet>
        <servlet-name>NewUserResigrationServlet</servlet-name>
        <servlet-class>org.karsha.controler.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>org.karsha.controler.SelectDocumentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDocumentServlet</servlet-name>
        <servlet-class>org.karsha.controler.UploadDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPhrasesServlet</servlet-name>
        <servlet-class>org.karsha.controler.SelectPhrasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>markwithFiboServelet</servlet-name>
        <servlet-class>org.karsha.controler.markwithFIboServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassifyDocServelet</servlet-name>
        <servlet-class>org.karsha.controler.ClassifyDocServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDataServelet</servlet-name>
        <servlet-class>org.karsha.controler.SaveDataServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKPhrasesServelet</servlet-name>
        <servlet-class>org.karsha.controler.TopKPhrasesServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCollectionServelet</servlet-name>
        <servlet-class>org.karsha.controler.CreateCollectionServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocSimilarityServelet</servlet-name>
        <servlet-class>org.karsha.controler.DocSimilarityServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDocSimDataServelet</servlet-name>
        <servlet-class>org.karsha.controler.SaveDocSimDataServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDataServelet</servlet-name>
        <servlet-class>org.karsha.controler.DeleteDataServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSimDocServlet</servlet-name>
        <servlet-class>org.karsha.controler.SelectSimDocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeiwDocumentServelet</servlet-name>
        <servlet-class>org.karsha.controler.VeiwDocumentServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSectionServelet</servlet-name>
        <servlet-class>org.karsha.controler.SelectSectionServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecommondTermsServelet</servlet-name>
        <servlet-class>org.karsha.controler.RecommondTermsServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGridServelet</servlet-name>
        <servlet-class>org.karsha.controler.ShowGridServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmmaSerachServlet</servlet-name>
        <servlet-class>org.karsha.controler.EmmaSerachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkUpSentenceServelet</servlet-name>
        <servlet-class>org.karsha.controler.MarkUpSentenceServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkUpDocSectionsServelet</servlet-name>
        <servlet-class>org.karsha.controler.MarkUpDocSectionsServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlerServelet</servlet-name>
        <url-pattern>/selectdocument</url-pattern>
        <url-pattern>/queryOutput</url-pattern>
        <url-pattern>/buildIndex</url-pattern>
        <url-pattern>/collection</url-pattern>
        <url-pattern>/topkphrases2</url-pattern>
        <url-pattern>/uploaddoc</url-pattern>
        <url-pattern>/viewphrase</url-pattern>
        <url-pattern>/viewdocument</url-pattern>
        <url-pattern>/upload</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/queryOutput</url-pattern>
        <url-pattern>/pickQueryDoc</url-pattern>
        <url-pattern>/simOutput</url-pattern>
        <url-pattern>/finalPage</url-pattern>
        <url-pattern>/similaritydata</url-pattern>
        <url-pattern>/noadminprivilege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/userlogin</url-pattern>
        <url-pattern>/userlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserResigrationServlet</servlet-name>
        <url-pattern>/useredit</url-pattern>
        <url-pattern>/userdelete</url-pattern>
        <url-pattern>/newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/getdocuments</url-pattern>
        <url-pattern>/selectcollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDocumentServlet</servlet-name>
        <url-pattern>/uploaddocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>markwithFiboServelet</servlet-name>
        <url-pattern>/markwithfibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassifyDocServelet</servlet-name>
        <url-pattern>/classify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDataServelet</servlet-name>
        <url-pattern>/savedata</url-pattern>
        <url-pattern>/savedocmarkupdata</url-pattern>
        <url-pattern>/saveselectedsentences</url-pattern>
        <url-pattern>/savesentencedata</url-pattern>
        <url-pattern>/savemarkedupsentences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKPhrasesServelet</servlet-name>
        <url-pattern>/topkphrases</url-pattern>
        <url-pattern>/edittopkphrases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPhrasesServlet</servlet-name>
        <url-pattern>/selectphrases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCollectionServelet</servlet-name>
        <url-pattern>/createcollection</url-pattern>
        <url-pattern>/getsimdocuments</url-pattern>
        <url-pattern>/createdoccollection</url-pattern>
        
        <!--       <url-pattern>/login</url-pattern>-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocSimilarityServelet</servlet-name>
        <url-pattern>/docSimilarity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDocSimDataServelet</servlet-name>
        <url-pattern>/savedocsimdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDataServelet</servlet-name>
        <url-pattern>/deletemarkedupdata</url-pattern>
        <url-pattern>/cleardocuments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSimDocServlet</servlet-name>
        <url-pattern>/selectsimdoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeiwDocumentServelet</servlet-name>
        <url-pattern>/viewPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSectionServelet</servlet-name>
        <url-pattern>/selectSections</url-pattern>
        <url-pattern>/getDocSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecommondTermsServelet</servlet-name>
        <url-pattern>/selectedsections</url-pattern>
        <url-pattern>/addrows</url-pattern>
        <url-pattern>/addrowssup</url-pattern>
        <url-pattern>/deleterows</url-pattern>
        <url-pattern>/deleterowssup</url-pattern>
        <url-pattern>/getterms</url-pattern>
        <url-pattern>/reviewsection</url-pattern>
        <url-pattern>/allsentences</url-pattern>
        <url-pattern>/selectsentences</url-pattern>
        <url-pattern>/selectedsentences</url-pattern>
        <url-pattern>/addsentence</url-pattern>
        <url-pattern>/removesentence</url-pattern>
        <url-pattern>/gettermssent</url-pattern>
        <url-pattern>/recomondtermsforselections</url-pattern>
        <url-pattern>/updatesentence</url-pattern>
        <url-pattern>/recomondtermsforselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowGridServelet</servlet-name>
        <url-pattern>/showtermsgrid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmmaSerachServlet</servlet-name>
        <url-pattern>/emmasearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkUpSentenceServelet</servlet-name>
        <url-pattern>/markupsentence</url-pattern>
        <url-pattern>/addfibotermsent</url-pattern>
        <url-pattern>/gettermsforsent</url-pattern>
        <url-pattern>/delfibotermsent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkUpDocSectionsServelet</servlet-name>
        <url-pattern>/docsecmarkup</url-pattern>
         <url-pattern>/addrows_doc</url-pattern>
        <url-pattern>/deleterows_doc</url-pattern>
        <url-pattern>/getterms_doc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <jsp-config>
    </jsp-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/karshamarkup</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
